Flask==3.0.0
gunicorn==21.2.0
requests==2.31.0
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
botocore
boto3==1.34.0
deep-translator==1.11.4
gspread>=6.1.2
google-auth>=2.16.0
